// Custom color scheme for svgpack
// Based on the default light scheme

$primary: #D929CC;
$primary-light: #ff9999;
$primary-dark: #660000;
$secondary: #EF1625;
$neutral: #31343f;

$navy: var(--col-1);

// Override theme variables
$link-color: $primary;
$link-color-visited: $primary-dark;
$link-color-hover: $primary-light;

// Background colors
$body-background-color: #ffffff;
$sidebar-color: $primary;
$border-color: rgb(235, 223, 225);

// Text colors
$text-color: $navy;
$text-muted: #7d6c6f;

// Code colors
$code-text-color: $navy;

$root-font-size: 16px;      // tamaño base (1rem)
$body-font-size: 1rem;  // cuerpo de texto

@import "syntax-dark.scss";